body {
    background-color: white;
    font-family: arial;

}
/*quote*/
.quote{
border-left: 1px solid black;
border-right: 1px solid black;
margin: 3%;
margin-left: 37.5%;
width: 25%;
text-align: center;

}
.h1, h1.quoteText{
  font-family: basic,sans-serif!important;
  font-size: 30px!important;
  color: #000000!important;
  word-spacing: 2px;
}
/*navbar*/
.navbarHover:hover{
  background-color: #8b8787;
  color: white ;
  text-decoration: none !important;

}
#navbarContent{
  height: 100% ;
  text-align: center;
}
/*de navbar zelf
background-color: #e4e3e3 !important;
*/
.navbar{
  
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 20% !important;
  background: radial-gradient(circle farthest-side, #8a8a8a, #ffffff);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 25px;
  margin-right: 25px;
}
/*de blokken in de navbar*/
.nav-item{
  background-color: #c2c2c2;
  left: 110%;
  position: relative;
  min-width: 30%;
}

/* text in de navbar blokken*/
.nav-link {
    display: block;
    padding: .9rem 1rem;
    box-align: center;
    color: rgb(0, 0, 0)!important;
    text-align: center;
    
}
.navbar li a {
    color: rgb(0, 0, 0);
}
.navbar li {
    height: auto;
    float: left;
    outline: 1px solid #000000;
    
}
.navbar li.active {
    background-color: #8b8787;
}

/*searchbar*/
#searchbar{
  width: 60%;
  margin-top: 5px;
  position: relative;
  left: 20%;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/*Main Divs*/
.container{
  width: 100%;
  outline: 1px solid black;
  margin-top: 20px;
}
.row{
    width: auto;
    margin: auto;
}

/*Homepage Content*/
p.homepaginaDivTitel{
  text-align:left;
  margin-left: 6.5%;
  font-size:210%;
  color:black;
  text-decoration: none;
}

.homeInfo{
 display: inline-block;
}
.teksten{
  font-size: medium;
  font: arial;
  color: #000000;
  line-height: 25px;
}
.fotoKevin{
width: 25%;
height: 100%;
outline: 1px solid black;
margin: 0% 4% 4% 4%;
display: inline-block!important;
}

.overMij{
  max-width: 45%;
  display: inline-block!important;
  margin-left: 5%;
  margin-top: 2%;
  vertical-align: top;
}

/*icons*/
.socials{
  vertical-align: top;
  width: 25%; 
  display: inline-block!important;
  margin: 2% 2% 2% 2%;
  position: relative;
  top: 0%;
}
.socialsLine{
  border: 1px solid black;
  width: 75%;
  float: right;
  vertical-align: top;
  margin: 0% 0% 1% 0%;
  
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  float: inline-end;
}


.fa:hover {
  opacity: 0.7;
}

.linkwiebenikTekst{
  color: #000000;
}

.linkwiebenikTekst:hover{
  color: #000000;
}

/*articles*/
.articlelistDiv{
outline: 1px solid rgb(182, 6, 6);
margin: 2px;
display: inline-block;
width: 100%;
}

.article{
margin: 1%;
outline: 1px solid black;
max-height: 150px;
overflow: hidden;
z-index: 2;
}

.articleTitle{
position: relative;
text-align:left;
margin-left: 1.5%;
font-size:130%;
color:black;
text-decoration: none;
margin-bottom: 0%;
display: inline-block;
vertical-align: top;
z-index: 3;
}
.articleTitle:hover{
  text-align:left;
  margin-left: 1.5%;
  font-size:130%;
  color:black;
  text-decoration: none;
  margin-bottom: 0%;
  display: inline-block;
  vertical-align: top;
  }

.articleDescription{
max-width: 70%;
min-width: 70%;
min-height: 100px;
max-height: 100px;
white-space: initial;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
display: flex!important;
margin-left: 2%;
vertical-align: baseline;
}
.descriptionText{
  text-decoration: none;
  color: #000000;
  
}
.descriptionText:hover{
  text-decoration: none;
  color: #000000;
}
.previewImg{
width: 11%;
height: 50%;
position: relative;
left:86.7%;
top: -126px;
outline: 1px solid black;
margin: 1%;
display: inline-block!important;
}
/*dropdown*/
.dropdown-menu{
  min-width: 150px !important;
  padding: 0.25rem 0rem !important;
}
.btn-danger{
   background-color: #F02424 !important;
   border: none !important;
   width: 150px;
}
.btn-danger:focus {
  background-color: #D31010 !important;
  color: white ;
  text-decoration: none !important;

}
/*footer*/
.container-fluid {
     overflow: hidden;
     margin-top: 250px;
     background: #262626;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: white !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }
