body {
    background-color: white;
    font-family: arial;

}
/*quote*/
.quote{
border-left: 1px solid black;
border-right: 1px solid black;
margin: 3%;
margin-left: 37.5%;
width: 25%;
text-align: center;

}
.h1, h1.quoteText{
  font-family: basic,sans-serif!important;
  font-size: 30px!important;
  color: #000000!important;
  word-spacing: 2px;
}
/*navbar*/
.navbarHover:hover{
  background-color: #8b8787;
  color: white ;
  text-decoration: none !important;

}
#navbarContent{
  height: 100% ;
  text-align: center;
}
/*de navbar zelf
background-color: #e4e3e3 !important;
*/
.navbar{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 20% !important;
  background: radial-gradient(circle farthest-side, #8a8a8a, #ffffff);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 25px;
  margin-right: 25px;
}
/*de blokken in de navbar*/
.nav-item{
  background-color: #c2c2c2;
  /* left: 70%; */
  left: 110%;
  position: relative;
  min-width: 30%;

}

/* text in de navbar blokken*/
.nav-link {
    display: block;
    padding: .9rem 1rem;
    box-align: center;
    color: rgb(0, 0, 0)!important;
    text-align: center;
}
.socialsNav{
  box-align: center!important;
  color: #007bff!important;
  text-align: center!important;
  margin-left: 12%;
  margin-top: 11%;
  font-size: 25px!important;
}
.navbar li a {
    color: rgb(0, 0, 0);
}
.navbar li {
    height: auto;
    float: left;
    outline: 1px solid #000000;
    
}
.navbar li.active {
    background-color: #8b8787;
}

/*searchbar*/
#searchbar{
  width: 60%;
  margin-top: 5px;
  position: relative;
  left: 20%;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/*Main Divs*/
.container{
  width: 100%;
  outline: 1px solid black;
  margin-top: 20px;
}
.row{
    width: auto;
    margin: auto;
}
.articleContainer{
  outline: none!important;
}

/*Homepage Content*/
p.homepaginaDivTitel{
  text-align:left;
  margin-left: 45.5%;
  font-size:210%;
  color:black;
  text-decoration: none;
}
#spinnewebTXT{
  color: #007bff;
  text-decoration: underline;
}
#spinnewebTXT:hover{
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
#belbinTXT{
  color: #007bff;
  text-decoration: underline;
}
#belbinTXT:hover{
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.homeInfo{
 display: inline-block;
}
.teksten{
  font-size: medium;
  font: arial;
  color: #000000;
  line-height: 25px;
}
.fotoKevin{
width: 25%;
height: 100%;
outline: 1px solid black;
margin: 0% 4% 4% 4%;
display: inline-block!important;
}

.overMij{
  max-width: 45%;
  display: inline-block!important;
  margin-left: 5%;
  margin-top: 1%;
  vertical-align: top;
}

/*icons*/
.socials{
  vertical-align: top;
  width: 60%; 
  left: 20%;
  margin: 2% 2% 2% 2%;
  text-align: center;
  display: inline-block;
  position: relative;
}
.socialsLine{
  border: 1px solid black;
  width: 75%;
  vertical-align: top;
  position: relative;
  left: 12.5%;
  display: flex;
  margin: 0%;
  margin-bottom: 1%;
}

.faHome{
  padding: 5px;
  font-size: 30px!important;
  text-align: center;
  text-decoration: none;
  display: flex;
}


.fa:hover {
  opacity: 0.7;
}

.linkwiebenikTekst{
  color: #000000;
}

.linkwiebenikTekst:hover{
  color: #000000;
}

/*articles*/
.articlelistDiv{
outline: 1px solid rgb(182, 6, 6);
margin: 2px;
display: inline-block;
width: 100%;
}

.article{
margin: 1%;
outline: 1px solid black;
max-height: 150px;
overflow: visible;
z-index: 1;
}

.articleTitle{
position: relative;
text-align:left;
margin-left: 1.5%;
font-size:130%;
color:black;
text-decoration: none;
margin-bottom: 0%;
display: inline-block;
vertical-align: top;
z-index: 2;
overflow: visible;
}
.articleTitle:hover{
  text-align:left;
  margin-left: 1.5%;
  font-size:130%;
  color:black;
  text-decoration: none;
  margin-bottom: 0%;
  display: inline-block;
  vertical-align: top;
  }

.articleDescription{
max-width: 70%;
min-width: 70%;
min-height: 100px;
max-height: 100px;
white-space: initial;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
display: flex!important;
margin-left: 2%;
vertical-align: baseline;
}
.descriptionText{
  text-decoration: none;
  color: #000000;
  
}
.descriptionText:hover{
  text-decoration: none;
  color: #000000;
}
.previewImg{
width: 11%;
height: 50%;
position: relative;
left:86.7%;
top: -126px;
outline: 1px solid black;
margin: 1%;
display: inline-block!important;
transition: transform .2s;
z-index: 1;
}
.previewImg:hover {
  transform: scale(2.8);
  z-index: 4;
  position:relative;
}
.brandingp :hover{
  transform: scale(2.2);
  z-index: 4;
  position:relative;
}

/*article page*/
.articlePage{
  display: inline-block;
  width: 95%;
  position: inherit;
  margin: 0% 2.5% 0% 2.5% ;
}
p.articlepageTitle{
  text-align:middle;
  margin-left: 40%;
  font-size:210%;
  color:black;
  text-decoration: none;
}

.articleImg{
max-width: 90%;
max-height: fit-content;
outline: 1px solid black;
margin: 0 auto;
margin-top: 2%;
margin-bottom: 2%;
cursor: pointer;
transition: 0.3s;
}
.wiebenikImg{
max-width: 45%;
height: fit-content;
outline: 1px solid black;
margin-top: 2%;
margin-bottom: .5%;
margin-left: 1%;
cursor: pointer;
transition: 0.3s;
display: flex;
float: right;
}
.wiebenikImg:hover{
  opacity: 0.7;
}
.articleImg:hover{
  opacity: 0.7;
}

.articleTextDiv{
  width: 90%;
  height: fit-content;
  margin: 1px auto;
  display: block;
}

.articleText{
  text-decoration: none;
  color: #000000;
}
.articleText:hover{
  text-decoration: none;
  color: #000000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 60%;
  max-height: fit-content;
}
.infoGraph{
  margin: auto;
  display: block;
  max-width: fit-content;
  height: 115%;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*dropdown*/
.dropdown-menu{
  min-width: 150px !important;
  padding: 0.25rem 0rem !important;
}
.btn-danger{
   background-color: #F02424 !important;
   border: none !important;
   width: 150px;
}
.btn-danger:focus {
  background-color: #D31010 !important;
  color: white ;
  text-decoration: none !important;

}
/*footer*/
.container-fluid {
     overflow: hidden;
     margin-top: 250px;
     background: #262626;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: white !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }
