@font-face{
    font-family:"unisansbold-bold";
    src:url("../fonts/Uni Sans Bold.ttf");
}
@font-face{
    font-family:"Helveticaa";
    src:url("../fonts/Helvetica.ttf");
}

@font-face{
    font-family:"unisans";
    src:url("../fonts/uni-sans-regular-italic.ttf");
    font-weight: 500;
}

body {
    background: #f1f7fc;
}

.register, .contact{
    padding: 10vh 0;
}

.contact {
    width: 50%;
    margin: 0 auto;
}

.form-container {
    display: table;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.image-holder {
    display: table-cell;
    width: 700px;
    /*background: url("https://i.pinimg.com/originals/bc/c0/86/bcc0860537b4030e6e62fa0a38ef907b.jpg");*/
    background: url("../img/piscadera-bay.jpg");
    background-size: cover;
}

form {
    display: table-cell;
    width: 40%;
    background-color: #ffffff;
    /*padding: 20px 60px 60px 60px;*/
    padding: 20px 30px 30px 30px;
    color: #505e6c;
}

@media (max-width: 991px) {
    form {
        padding: 40px;
    }
}

@media (max-width: 700px) {
    .image-holder {
        visibility: hidden;
    }

    #registerForm, #loginForm {
        width: 100%;
    }
}

form h2 {
    height: 10px;
    margin-top: 0;
    font-size: 23px;
    /*line-height: 1.5;*/
    margin-bottom: 30px;
    text-transform: none;
    color: #D81E05;
}

form h2 strong, .btn span {
    display: inline-block;
    font-family: "unisansbold-bold", "Helveticaa", Arial, sans-serif !important;
    font-weight: 100;
    transform: skew(-7deg);
    -webkit-transform: skew(-7deg);
}

.btn {
    background-color: #6db93f !important;
}

.btn:focus, .btn:active, .btn:visited {
    border: 0 !important;
    outline: none !important;
}

.btn span {
    font-size: 15px;
}

h2 label {
    width: 25px;
    height: 25px;
}

form .form-control {
    background: transparent;
    /*border: none;*/
    border: 1px solid #dfe7f1;
    /*border-bottom: 1px solid #dfe7f1;*/
    border-radius: 5px;
    box-shadow: none;
    outline: transparent;
    color: inherit;
    text-indent: 0;
    height: 40px;
}

.already {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.logo {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

a img:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1.1);
}

/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #d81e05;*/
/*}*/

/*li {*/
/*    float: left;*/
/*    border-right: 1px solid #bbb;*/
/*}*/

/*li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/

/*li a:hover {*/
/*    background-color: #c60f0f;*/
/*}*/

.invalid-feedback {
    position: absolute;
}

#datepicker {
    background: white;
}

.invalid-feedback {
    position: relative;
}

#error {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    color: brown;
    height: 30px;
    font-size: 20px;
}

.authentication {
    margin-top: 150px;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    width: 400px !important;
}

.verification {
    font-size: 30px;
    font-family: "unisansbold-bold", "Helveticaa", Arial, sans-serif !important;
    text-align: center;
    margin: 0 auto;
    color: #d81e05;
    /*position: relative;*/
    overflow: hidden;
}
